*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:
linear-gradient(
135deg,
#0f172a,
#1e293b,
#2563eb);

min-height:100vh;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;

padding:20px 80px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(15px);
}

.logo{
font-size:28px;
font-weight:bold;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

.hero{
text-align:center;
padding:120px 30px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
max-width:800px;
margin:auto;
margin-bottom:30px;
}

.btn{
padding:18px 40px;
font-size:20px;
border:none;
border-radius:12px;
cursor:pointer;

background:#38bdf8;
color:white;

transition:0.3s;
}

.btn:hover{
transform:scale(1.05);
}


footer{
text-align:center;
padding:30px;
margin-top:50px;
}
.recognition-container{
    text-align:center;
    padding-top:20px;
}

.camera-card{
    margin-top:20px;
}

.camera-card img{
    border-radius:20px;
    box-shadow:0px 0px 30px rgba(0,0,0,0.4);
}

.gesture-card{
    margin-top:20px;
    background:white;
    color:black;
    display:inline-block;
    padding:15px 40px;
    border-radius:15px;
    font-size:24px;
    font-weight:bold;
}

.stop-btn{
    background:#ff3b30;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
    margin-top:15px;
}

.stop-btn:hover{
    transform:scale(1.05);
}
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.75);
    backdrop-filter:blur(8px);
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal-content{
    width:450px;
    padding:35px;
    border-radius:25px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,0.2);
    color:white;
    text-align:center;
    position:relative;
    animation:popup 0.4s ease;
}

.modal-content h2{
    font-size:32px;
    margin-bottom:15px;
}

.modal-content p{
    font-size:18px;
    line-height:1.7;
}

.modal-content button{
    margin-top:20px;
    padding:12px 30px;
    border:none;
    border-radius:12px;
    background:#4f46e5;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.close-btn{
    position:absolute;
    top:15px;
    right:20px;
    font-size:24px;
    cursor:pointer;
}

@keyframes popup{
    from{
        transform:scale(0.7);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }
}
.start-btn{
    width: 350px;
    height: 80px;

    background: linear-gradient(135deg,#22c55e,#16a34a);

    color:white;
    border:none;

    border-radius:15px;

    font-size:24px;
    font-weight:bold;

    cursor:pointer;

    box-shadow:0 8px 25px rgba(0,0,0,0.4);

    transition:0.3s;
}

.start-btn:hover{
    transform:scale(1.05);
}

.emergency-btn{
    width: 350px;
    height: 80px;

    background: linear-gradient(135deg,#ef4444,#dc2626);

    color:white;
    border:none;

    border-radius:15px;

    font-size:24px;
    font-weight:bold;

    cursor:pointer;

    margin-top:20px;

    box-shadow:0 8px 25px rgba(0,0,0,0.4);

    transition:0.3s;
}

.emergency-btn:hover{
    transform:scale(1.05);
}
.main-container{
    display:flex;
    gap:20px;
    align-items:flex-start;
    justify-content:center;
}

.camera-card{
    flex:2;
}

.gesture-card{
    flex:1;
    background:white;
    padding:15px;
    border-radius:15px;
}